
<%= form_tag get_delivery_note_path, remote: true, method: :get, id: 'select-delivery_note_nr-form', class: 'ui reply form' do %> 
  <div class="field">
    <%= content_tag :div, class: "ui fluid icon input #{ 'massive' if session[:mobile_device] == true }"  do %>
      <%= text_field_tag :delivery_note_nr, nil, placeholder: "Szállítólevél száma...", autofocus: true %>
    <% end %>
  </div>
  <br>
  <div class="form-group">
    <%= button_tag(type: :submit, class: "ui basic orange button") do %>
      Tovább
    <% end %>
  </div>  
<% end %>