<h2 align="center" class="mobile">Zebra Modulok</h2>

<div class="ui vertical inverted labeled icon massive menu mobile">
  <%= link_to "<i class='browser icon'></i> Beérkezés gyártásból".html_safe, beerkezes_gyartasbol_step1_path, class: "item" %>
</div>

<div class="ui vertical inverted labeled icon massive menu mobile">
    <%= link_to "<i class='barcode icon'></i> VDA címke ellenőrzés".html_safe, check_vda_index_path, class: "item" %>
</div>

<div class="ui vertical inverted labeled icon massive menu mobile">
  <%= link_to "<i class='truck icon'></i> Szállítások ellenőrzése".html_safe, labelcheck_search_path, class: "item" %>
</div>