<h1>Warehouse Module</h1>

<div class="ui vertical inverted labeled icon massive menu">
  <a class="item">
    <i class="barcode icon"></i>
    Internal vs VDA Label check
  </a>
  <a class="item">
    <i class="table icon"></i>
    <%= link_to "Delivery check", labelcheck_search_path %>
  </a>
  <a class="item">
    <i class="rss square icon"></i>
    <%= link_to "Daimler RFID check", labelcheck_check_path %>
  </a>
</div>