<%= content_tag :h3 do %>
  3. Sikeres tartály azonosítás!
<% end %>
<br>
<br>
<div class="ui grid">
  <div class="left aligned eight wide column"><%= link_to "Tovább", use_prepared_request_path(:id => @request["Code"]), class: "ui primary #{ 'massive' if session[:mobile_device] == true } button" %></div>
</div>