<%= content_tag :h3 do %>
  Sikeres lefejtés!
<% end %>
<br>
<br>
<div class="ui grid">
  <div class="right aligned eight wide column"><%= link_to "Vissza a főmenübe", root_path, class: "ui primary button" %></div>
</div>