<%= render 'layouts/messages' %>

<h2 align="center" class="mobile">Beérkezés gyártásból</h2> 

<br>
<br>
<br>
<br>
<br>

<%= link_to 'Vissza a főmenübe', root_path, class: "#{ 'mobile-large-text' if session[:mobile_device] == true }" %> 