<%= render 'layouts/messages' %>

<h1>Sikeres rögzítés!</h1>
<br>
<div class="ui grid">
  <div class="left aligned eight wide column"><%= link_to "Új bevételezés", beerkezes_gyartasbol_step1_path, class: "ui primary button" %></div>
  <div class="right aligned eight wide column"><%= link_to "Vissza a főmenübe", root_path, class: "ui primary button" %></div>
</div>