@import "semantic-ui";


.polytec-gray {
  color: #25303B;
}

.input {
  button {
    display:none;
  }
}

h1.mobile {
  font-size: 5.5em; /* 40px/16=2.5em */
}

h2.mobile {
  font-size: 4.5em; 
}

h3.mobile {
  font-size: 3.0em; 
}

div.ui.input.massive {
  font-size: 2.7em;
}

.ui.button.massive {
  font-size: 2.7em;
}

div.mobile-menu .item {
  text-align: left;
  font-size: 2.1em; /* 40px/16=2.5em */
}

div.mobile .item {
  text-align: center;
  font-size: 2.5em; /* 40px/16=2.5em */
}

div .mobile-header {
  text-align: center;
  font-size: 4.5em; /* 40px/16=2.5em */
}

.mobile-label-tag {
  font-size: 2.5em;
  /*font-size: 40px;*/
}

div .mobile-large-text {
  font-size: 42px;
}

div .mobile-medium-text {
  font-size: 32px;
  padding-bottom: 20px;
}

.ui.form .field.mobile > label {
  font-size: 32px;
  padding-bottom: 20px;
}

.ui.selection.dropdown.mobile-large-text .menu .item {
  font-size: 24px;
}

.ui.message.mobile-large-text .header:not(.ui)
{
  font-size: 2.1em;
}

.ui.card .content .header.mobile  {
  font-size: 2.7em;
  line-height: 2.6;
}

.ui.card .content .sub.header.mobile  {
  font-size: 1.7em;
  padding-bottom: 20px;
}


.field input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 20px;
}

.field.mobile-large-text input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(4.5); /* IE */
  -moz-transform: scale(4.5); /* FF */
  -webkit-transform: scale(4.5); /* Safari and Chrome */
  -o-transform: scale(4.4); /* Opera */
  transform: scale(4.5);
  padding: 20px;
}

.field input[type=radio]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 20px;
}


.field.mobile-large-text input[type=radio]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(4.5); /* IE */
  -moz-transform: scale(4.5); /* FF */
  -webkit-transform: scale(4.5); /* Safari and Chrome */
  -o-transform: scale(4.5); /* Opera */
  transform: scale(4.5);
  padding: 20px;
}


.field.mobile input[type=radio]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(3.0); /* IE */
  -moz-transform: scale(3.0); /* FF */
  -webkit-transform: scale(3.0); /* Safari and Chrome */
  -o-transform: scale(3.0); /* Opera */
  transform: scale(3.0);
  padding: 20px;
}


/* Might want to wrap a span around your checkbox text */
.checkboxtext
{
  /* Checkbox text */
  font-size: 110%;
  display: inline;
}

.error-helper {
  color: #9F3A38;
}

#new-request-icon-popup {
  height: 40px;
  width: 200px;
  text-align: center;
  vertical-align:middle;
  background-color: olivedrab;
  color: white;
  display: none;
  padding-top: 8px;
  position: absolute;
}
